<h1> Directors IDs </h1>
<p> Movie Count: <%= @director.movies.count %></p>
  <h3> <p> <%= @director.id  %> </p> </h3>
  <p>Name <%= @director.name  %> </p>
  <p>Age <%= @director.age  %> </p>
  <p>Alive <%= @director.alive  %> </p>